.register-container {
    h2 {
        text-align: center;
    }
    .register-form .form-group {
        margin: 25px 0;
    }

    .login-link {
        text-align: center;
        margin: 25px auto;
    }
}