$text-dark-color: #20214c;
$primary-color: #5a43ce;
$secondary-color: #bae5ff;
$gray-color: #f0f3f8;
$gray-focus: gray;
$variant-color: #291e62;
$white-color: white;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: $text-dark-color;
}


button {
    background-color: $variant-color;
    color: $white-color;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
    }
    li:nth-child(odd) {
        background-color: $gray-color;
    }
}

input, select {
    height: 100%;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: $gray-color;
}

select {
    border: 1px solid $primary-color;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

form {
    margin: 5px 8px;
    .form-group {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        margin: 35px 0;       
    }
    button {
        display: block;
        width: 100%;
        padding: 14px;
        font-size: 14px;
    }
}

